* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body{
  background:#1b1b2b;
  color: #c0c0c0;
  overflow:auto;
}

nav{
  text-align:center;
  font-family: 'Oswald', sans-serif;
  width:100%;
  height:100%;
  padding:15px;
}

.title{
  color:#c0c0c0;
  font-weight:100;
}

.nav_btn{
  color:#999;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.nav_btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#fff;
  padding:20px 20px; #000;
  color:#1b1b1b;
}

.content-title {
  color: #c0c0c0;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

.login {
  width: 350px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -175px;
  font-family: "Open Sans", sans-serif;
}

input[type="text"], input[type="password"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #c0c0c0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
input[type=checkbox] {
  display: none;
  font-family: "Open Sans", sans-serif;
}

#agree:checked ~ label[for=agree] {
  background: #435160;
  font-family: "Open Sans", sans-serif;
}

input[type="submit"] {
  background:rgba(0, 0, 0, 0.5);
  border: 0;
  width: 350px;
  padding:20px 20px;
  border-radius: 3px;
  color: #c0c0c0;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  font-family: "Open Sans", sans-serif;
}
input[type="submit"]:hover {
  background: #c0c0c0;
  color:#1b1b1b;
  font-size: 12px;
  width: 350px;
  font-family: "Open Sans", sans-serif;
}

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
  font-family: "Open Sans", sans-serif;
}

.agree {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 25px;
  line-height: 15px;
  font-family: "Open Sans", sans-serif;
  color: #c0c0c0;
}

::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.text-danger {
  color: #dc3545 !important;
  font-size: 10px;
}