<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>MY Page</title>
  <link rel="stylesheet" href="../static/css/base-style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
<nav>
    <h1>Hello, everyPAWdy!</h1>
    <div>
    <a href="{{ url_for('index') }}" class="btn">Home</a>
        {% if current_user.is_anonymous %}
    <a href="{{ url_for('sign_in') }}" class="btn">Sign In</a>
        {% else %}
    <a href="{{ url_for('user', user_id=current_user.user_id) }}" class="btn">My Page</a>
    <a href="{{ url_for('sign_out') }}" class="btn">Sign Out</a>
        {% endif %}
    </div>
</nav>
<br>
{% block content %} {% endblock %}
<!-- partial -->

</body>
</html>