<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">  <title>MY Page</title>
  <link rel="stylesheet" href="../static/css/base-style.css">
</head>
<body class="nav_body">
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
<nav>
    <h1 class="title">Hello, everyPAWdy!</h1>
    <div>
    <a href="{{ url_for('index') }}" class="nav_btn">Home</a>
        {% if current_user.is_anonymous %}
    <a href="{{ url_for('sign_in') }}" class="nav_btn">Sign In</a>
        {% else %}
    <a href="{{ url_for('user') }}" class="nav_btn">My Page</a>
    <a href="{{ url_for('sign_out') }}" class="nav_btn">Sign Out</a>
        {% endif %}
    </div>
</nav>
<br>
<div class="background">
{% block content %} {% block upload %} {% endblock %} {% endblock %}

</div>
<!-- partial -->

</body>
</html>