{% extends "base.html" %}

{% block content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../static/css/user-style.css">

<div class="container">
  <div class="cellphone-container">    
<!--      <div class="movie">-->
        <form method="post">
        {{ form.hidden_tag() }}
        <div class="text-movie-cont">

          <div class="mr-grid">

            <div class="col1">
              <h1 class="user-pw">Current Password</h1>
              <input class="user-name" type="password" id="user_password" name="user_password" />
            </div>

            {% for error in form.user_password.errors %}
              <span id="user_password_check_help" class="text-danger">[{{ error }}]</span>
            {% endfor %}

            <div class="col1">
              <h1 class="user-pw">New Password</h1>
              <input class="user-name" type="password" id="user_new_password" name="user_new_password" />
            </div>

            <div class="col1">
              <h1 class="user-pw">Repeat New Password</h1>
              <input class="user-name" type="password" id="user_new_password_repeat" name="user_new_password_repeat" />
            </div>

            {% for error in form.user_new_password_repeat.errors %}
                <span id="user_new_password_repeat_help" class="text-danger">[{{ error }}]</span>
            {% endfor %}

          </div>

          <button class="edit-btn" type="submit">Modify</button>
          <a class="edit-btn" href="{{ url_for('edit_user') }}">Edit User Info</a>
          <a class="edit-btn" href="{{ url_for('user') }}">Cancel</a>

        </div>
      </form>
<!--      </div>-->
  </div>
</div>

{% endblock %}