{% extends "base.html" %}

{% block content %}
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/css/base-style.css">
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>

<form method="post">
<div class='login'>
  <h2>Hi, there</h2>
  <input name='user_email' placeholder='E-Mail Address' type='text'>
  <input id='user_pw' name='user_password' placeholder='Password' type='password'>
  <input style="margin-top:30px" type='submit' value='Login'>
  <a class='forgot' href="{{ url_for('sign_up') }}">Wanna join us?</a>
</div>
</form>

{% endblock %}