{% extends "base.html" %}

{% block content %}
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2>Welcome</h2>
  <input name='username' placeholder='Username' type='text'>
  <input id='pw' name='password' placeholder='Password' type='password'>
  <input name='email' placeholder='E-Mail Address' type='text'>
  <div class='agree'>
    <input id='agree' name='agree' type='checkbox'>
    <label for='agree'></label>Accept rules and conditions
  </div>
  <input style="margin-top:30px" type='submit' value='Register'>
  <a class='forgot' href="{{ url_for('sign_in') }}">Already have an account?</a>
</div>
<!-- partial -->
  <script  src="../static/js/sign-in-script.js"></script>
{% endblock %}