<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Welcome!</title>
  <link rel="stylesheet" href="../static/css/sign-in-style.css">
</head>
<body>
{% extends "base.html" %}
{% block content %}
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <h2>Hi, there</h2>
<!--  <input name='username' placeholder='Username' type='text'>-->
  <input name='email' placeholder='E-Mail Address' type='text'>
  <input id='pw' name='password' placeholder='Password' type='password'>
<!--  <div class='agree'>-->
<!--    <input id='agree' name='agree' type='checkbox'>-->
<!--    <label for='agree'></label>Accept rules and conditions-->
<!--  </div>-->
  <input style="margin-top:30px" type='submit' value='Login'>
  <a class='forgot' href='#'>Wanna join us?</a>
</div>
<!-- partial -->
  <script  src="../static/js/sign-in-script.js"></script>
{% endblock %}
</body>
</html>