{% extends "base.html" %}

{% block content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="../static/css/user-style.css">

<div class="container">
  <div class="cellphone-container">    
      <div class="movie">       
        <div class="movie-img"></div>
        <div class="text-movie-cont">
          <div class="mr-grid">
            <div class="col1">
              <h1 class="user-name">{{ user.user_name|capitalize }}</h1>
              <ul class="movie-gen">
                {% if user.user_last_sign_in %}
                <li>Last seen on  </li>
                <li>{{ user.user_last_sign_in }}</li>
                {% endif %}
              </ul>
            </div>
          </div>
          <div class="mr-grid summary-row">
            <div class="col2">
              <h5 class="user-info">E-Mail</h5>
            </div>
            <div class="col1">
              <div class="user-description"> {{ user.user_email }} </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}